/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Andy Sans';
        font-style: normal;
        font-weight: 400;
        src:  url('/fonts/Aeonik-Regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Andy Sans';
        font-style: normal;
        font-weight: 500;
        src:  url('/fonts/Aeonik-Bold.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Andy Sans';
        font-style: normal;
        font-weight: 700;
        src:  url('/fonts/Aeonik-Black.woff2') format('woff2');
    }
}

* {
    @apply antialiased;
}

html {
    @apply bg-black font-sans;
    font-feature-settings: 'ss02', 'zero', 'tnum';
}

.lazy-media {
    @apply scale-125 opacity-0;
}

.lazy-media-inview {
    @apply opacity-100 scale-100;
}