/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 400;
        src:  url('/fonts/SpaceGrotesk-Regular.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        src:  url('/fonts/SpaceGrotesk-Bold.woff2') format('woff2');
    }
}

* {
    @apply antialiased;
}

html {
    @apply bg-black font-sans;
}

.lazy-media {
    @apply scale-125 opacity-0;
}

.lazy-media-inview {
    @apply opacity-100 scale-100;
}